@import "tailwindcss";


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #000;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ec4899;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}